fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
python-multipart
pydantic
email-validator
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
passlib[argon2]
argon2-cffi
pandas
reportlab
openpyxl
xlsxwriter
fastapi-mail
requests==2.32.3